#ts-social {
    margin-bottom: 80px;
}

#ts-social h1 {
    font-size: 3.0em;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

#ts-social p.lead {
    text-align: justify;
    font-size: 1.5em;
}