#ts-modal .modal-content {
    border-radius: 0;
    margin-top: 55px;
    padding: 0;
}

#ts-modal .modal-header {
    text-align: center;
    border: none;
    background-color: #edefed;
}

#ts-modal .modal-footer {
    border: none;
}

#ts-modal .modal-header h4 {
    font-size: 1.5em;
    font-weight: bold;
}

#ts-modal .close {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 4em;
    color: #000;
}

@media (max-width: $screen-xs) {
    #ts-modal .modal-content {
        margin-top: 0;
    }
}
