@media (min-width: $screen-sm) {
    #ts-settings {
        position: relative;
    }
}

#ts-settings .ts-gender-placeholder-container {
	display: none;
}


#ts-settings .panel-body {
    padding: 20px 35px;
}

#ts-settings ts-gender {
	margin-bottom: 15px;
}

#ts-settings ts-phone button {
	font-size: 1.2em;
}

#ts-settings ts-phone .alert {
	position: relative;
}