<!-- Logged Out START -->
<form class="form" name="form" ng-submit="register(form)" novalidate ng-hide="isLoggedIn()">
    <div class="form-group">
        <div class="input-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                'has-error': form.email.$invalid && submitted }">
            <input ng-disabled="isChecking" type="email" name="email" class="form-control" ng-model="user.email" placeholder="University E-Mail" required="" />
            <div class="input-group-btn">
                <button type="submit" ng-hide="isChecking" class="btn btn-primary" ng-disabled="form.email.$invalid">los geht's</button>
                <button type="button" ng-show="isChecking" class="btn btn-default" ng-disabled="true"><i class="fa fa-circle-o-notch fa-spin"></i> checking
                </button>
            </div>
        </div>
    </div>
</form>
<!-- Logged Out END -->
<!-- Logged In START -->
<div class="input-group">
    <div class="input-group-btn">
        <button class="btn btn-primary" ui-sref="dashboard" ng-show="isLoggedIn()">Melde dich an</button>
    </div>
</div>
<!-- Logged In END -->