<form class="form" name="form" ng-submit="register(form)" novalidate ng-hide="isLoggedIn()">
    <div class="form-group">
        <div class="input-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                'has-error': form.email.$invalid && submitted }">
            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="E-Mail" required="" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-disabled="form.email.$invalid">los geht's</button>
            </div>
        </div>
    </div>
</form>
<div class="input-group">
    <div class="input-group-btn">
        <button class="btn btn-primary" ui-sref="dashboard" ng-show="isLoggedIn()">Melde dich an</button>
    </div>
</div>
