/**
 * General
 */

#ts-onboarding {
    margin-top: 15px;
}

#ts-onboarding h1,
#ts-onboarding h2,
#ts-onboarding h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

#ts-onboarding h1 {
    font-size: 4.0em;
}

#ts-onboarding h2 {
    font-size: 3.0em;
}

#ts-onboarding h3 {
    font-size: 2.0em;
}
