/**
 * General
 */

#ts-onboarding {
    margin-top: 15px;
}

#ts-onboarding h1,
#ts-onboarding h2,
#ts-onboarding h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

#ts-onboarding h1 {
    font-size: 4.0em;
}

#ts-onboarding h2 {
    font-size: 3.0em;
}

#ts-onboarding h3 {
    font-size: 2.0em;
}

#ts-onboarding .ts-btn-back {}

#ts-onboarding .btn-complete-registration {
    margin-bottom: 30px;
    margin-top: 5px;
}

#ts-onboarding .btn-primary {
    font-size: 1.5em;
    line-height: 0.9em;
    height: 55px;
    padding: 5px;
}

#ts-onboarding-email,
#ts-onboarding-info,
#ts-onboarding-gender,
#ts-onboarding-phone {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: $screen-sm) {
    #ts-onboarding-phone,
    #ts-onboarding-email,
    #ts-onboarding-info,
    #ts-onboarding-weekdays,
    #ts-onboarding-complete {
        position: absolute;
        top: 50%;
        width: 100%;
    }
    #ts-onboarding-phone {
        margin-top: -210px;
    }
    #ts-onboarding-email {
        margin-top: -230px;
    }
    #ts-onboarding-info {
        margin-top: -210px;
    }
    #ts-onboarding-weekdays {
        margin-top: -310px;
    }
    #ts-onboarding-complete {
        margin-top: -210px;
    }
}


/**
 * Welcome Modal
 */

#ts-welcome-modal .modal-body {
    height: 215px;
}

#ts-welcome-modal p {
    text-align: center!important;
}

#ts-welcome-modal .fa-graduation-cap,
#ts-phone-modal .fa-whatsapp,
#ts-welcome-modal .fa-envelope-o,
#ts-weekdays-modal .fa-calendar-check-o {
    font-size: 6em;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -45px;
    margin-bottom: 25px;
    margin-top: 15px;
}

@media (max-width: $screen-xs) {
    #ts-welcome-modal .modal-body {
        height: 260px;
    }
}
