#ts-imprint {
    margin-bottom: 80px;
}

#ts-imprint h1 {
    font-size: 3.0em;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

#ts-imprint address {
    font-size: 1.4em;
}

#ts-imprint address.ts-email {
    margin-bottom: 80px;
}

#ts-imprint p {
    text-align: justify;
}
