@media (min-width: $screen-sm) {
    #ts-login {
        height: 100vh;
        min-height: 500px;
        position: relative;
    }
    #ts-login .ts-login-form-container {
        position: absolute;
        top: 50%;
        margin-top: -255px;
    }
}

@media (max-width: $screen-xs) {
    #ts-login {
        margin-top: 15px;
    }
}

#ts-login h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 3.0em;
}

#ts-login .btn-login {
    margin-top: 10px;
    margin-bottom: 10px;
}