<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 translate>Reset Password</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="resetpassword(form)" novalidate>
                <!-- PASSWORD -->
                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && status == 'submitted',
                                                'has-error': form.password.$invalid && status == 'submitted' }">
                    <label translate>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="password" ng-minlength="3" required mongoose-error/>
                    <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && status == 'submitted'" translate>
                        Password must be at least 3 characters.
                    </p>
                </div>
                <!-- Code -->
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && status == 'submitted',
                                                'has-error': form.name.$invalid && status == 'submitted' }">
                    <label translate>Forgot Password Code</label>
                    <input type="text" name="forgotpasswordcode" class="form-control" ng-model="forgotpasswordcode" required/>
                    <p class="help-block" ng-show="form.name.$error.required && status == 'submitted'" translate>
                        Code is required.
                    </p>
                </div>
                <p class="help-block" ng-show="status == 'error'" translate>Invalid code or unable to send emails at this moment. Try again later.</p>
                <ts-success ng-show="status == 'success'">Password reset was successful. You will be redirected shortly.</ts-success>
                <div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit col-xs-12 col-sm-6" translate>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>
