<div class="ts-gender-placeholder-container row" style="height:285px;">
    <div ng-if="!user.gender" class="ts-gender-placeholder"></div>
    <iframe ng-if="user.gender == 'male'" src="https://giphy.com/embed/137qcedBZRpVTy" width="480" height="260" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <iframe ng-if="user.gender == 'female'" src="https://giphy.com/embed/12r9y6xhai5P7a" width="480" height="267" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<div class="row">
    <button class="btn btn-primary col-xs-6" ng-model="user.gender" uib-btn-radio="'male'" translate>
        <i class="fa fa-male"></i> Male
    </button>
    <button class="btn btn-primary col-xs-6" ng-model="user.gender" uib-btn-radio="'female'" translate>
        <i class="fa fa-female"></i> Female
    </button>
</div>
