<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4 translate>Heim und Herd.</h4>
            <p>Wir sind eine Koch-Community für Studierende von Studierenden. Knüpfe neue Freundschaften - abseits der Uni.</p>
            <ul>
                <li><a href="/about" translate>Über uns</a></li>
                <li><a href="/faq" translate>FAQ</a></li>
                <li><a href="/presse" translate>Presse</a></li>
                <li><a href="/privacy" translate>Datenschutz</a></li>
                <li><a href="/agb" translate>AGB</a></li>
                <li><a href="/imprint" translate>Impressum</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4 translate>Städte ({{cities.length}})</h4>
            <ul>
                <li ng-repeat="city in cities">
                    <a ng-href="/cities/{{city}}">{{city}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4 translate>Universitäten ({{universities.length}})</h4>
            <ul>
                <li ng-repeat="university in universities"> <a ng-href="{{university.web_page}}" target="_blank">
{{university.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="ts-social-container row">
        <div class="col-xs-12">
            <h4 translate>Sprich mit uns</h4>
            <ul class="list-inline">
                <li>
                    <a href="mailto:hallo@tablesurfer.org" class="email">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="whatsapp" title="" data-toggle="tooltip" data-original-title="Füge unsere WhatsApp Nummer in deine Kontakte ein und chatte mit uns direkt +15115236058">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tablesurfer.de" class="facebook" target="_blank">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ts-legal-hint-container row">
        <div class="col-xs-12" translate>
            © 2016 tablesurfer. Alle Rechte vorbehalten.
        </div>
    </div>
</div>
