footer.footer {
    padding-top: 35px;
    font-size: 16px;
    line-height: 1.5em;
    background-color: $ts-light-grey;
}

footer.footer .row {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

footer.footer h4 {
    font-size: 1.0em;
    font-weight: 600;
    height: 30px;
}

footer.footer ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10.5px;
}

footer.footer ul li {
    color: $ts-black;
}

footer.footer .list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

footer.footer .ts-social-container .fa {
    font-size: 2.5em;
}

footer.footer .ts-legal-hint-container {
    text-align: center;
}
