<div class="ts-footer-container container">
    <div class="row">
        <div class="col-sm-4">
            <h4 translate>tastes like Mutti's</h4>
            <p><span translate>A cooking-community for students.</span>
                <br/><span translate>Made with love by students in Munich.</span></p>
            <ul>
                <li ui-sref-active="active"><a ui-sref="about" translate>About us</a></li>
                <li ui-sref-active="active"><a ui-sref="faq" translate>FAQ</a></li>
                <li ui-sref-active="active"><a ui-sref="press" translate>Press</a></li>
                <li ui-sref-active="active"><a ui-sref="privacy" translate>Privacy</a></li>
                <li ui-sref-active="active"><a ui-sref="agb" translate>Terms and conditions</a></li>
                <li ui-sref-active="active"><a ui-sref="imprint" translate>Imprint</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4 translate>Cities ({{cities.length}})</h4>
            <ul>
                <li ng-repeat="city in cities | limitTo: 15">
                    <a ng-href="universities">{{city}}</a>
                </li>
                <li>...</li>
            </ul>
            <button ui-sref="universities" class="btn btn-default btn-block">all cities</button>
        </div>
        <div class="col-sm-4">
            <h4 translate>Universities ({{universities.length}})</h4>
            <ul>
                <li ng-repeat="university in universities | limitTo: 15"> <a ng-href="{{university.web_page}}" target="_blank">
{{university.name}}</a></li>
                <li>...</li>
            </ul>
            <button ui-sref="universities" class="btn btn-default btn-block">all universities</button>
        </div>
    </div>
    <div class="ts-social-container row">
        <div class="col-xs-12">
            <h4 translate>Speak with us</h4>
            <ul class="list-inline">
                <li>
                    <a href="mailto:hallo@tablesurfer.org" class="email">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="whatsapp" title="" data-toggle="tooltip" data-original-title="Füge unsere WhatsApp Nummer in deine Kontakte ein und chatte mit uns direkt +15115236058">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tablesurfer.de" class="facebook" target="_blank">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ts-legal-hint-container row">
        <div class="col-xs-12">
            © 2016 tablesurfer. <span translate>All rights reserved</span>.
        </div>
    </div>
</div>
