oauth-buttons .btn-facebook,
oauth-buttons .btn-linkedin,
oauth-buttons .btn-xing {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    text-transform: lowercase;
    font-weight: 200;
}

oauth-buttons .btn-facebook {
    color: #fff;
    border-color: #4568b2;
    border-bottom-color: #2d4575;
    background-color: #4568b2;
}

oauth-buttons .btn-linkedin {
    color: #fff;
    border-color: #006fa6;
    border-bottom-color: #006fa6;
    background-color: #006fa6;
    margin-top: 20px;
}

oauth-buttons .btn-xing {
    color: #fff;
    border-color: #006567;
    border-bottom-color: #006567;
    background-color: #006567;
    margin-top: 15px!important;
    margin-bottom: 20px!important;
}

oauth-buttons .btn-facebook span,
oauth-buttons .btn-linkedin span,
oauth-buttons .btn-xing span {
    top: -8px;
    position: relative;
    font-size: 1.1em;
}

oauth-buttons .btn-facebook .fa,
oauth-buttons .btn-linkedin .fa,
oauth-buttons .btn-xing .fa {
    top: -10px;
    position: relative;
    font-size: 2.2em;
}

oauth-buttons .btn-linkedin .fa,
oauth-buttons .btn-xing .fa {
    margin-right: 10px;
}

oauth-buttons .btn:hover {
    color: #fff;
}

.ts-signup-or-separator {
    position: relative;
    top: 5px;
}

.ts-signup-or-separator span {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -25px;
    font-size: 1.1em;
    font-weight: 400;
    background: #fff;
    padding: 0 15px;
}
