<div class="container hidden-xs">
    <ul>
        <li ui-sref-active="active"><a ui-sref="about" translate>About us</a></li>
        <li ui-sref-active="active"><a ui-sref="faq" translate>FAQ</a></li>
        <li ui-sref-active="active"><a ui-sref="press" translate>Press</a></li>
        <li ui-sref-active="active"><a ui-sref="privacy" translate>Privacy</a></li>
        <li ui-sref-active="active"><a ui-sref="agb" translate>AGB</a></li>
        <li ui-sref-active="active"><a ui-sref="imprint" translate>Imprint</a></li>
    </ul>
</div>
