<div class="container hidden-xs">
    <ul>
        <li ui-sref-active="active" ui-sref="about"><a href="" translate>About us</a></li>
        <li ui-sref-active="active" ui-sref="faq"><a href="" translate>FAQ</a></li>
        <li ui-sref-active="active" ui-sref="press"><a href="" translate>Press</a></li>
        <li ui-sref-active="active" ui-sref="privacy"><a href="" translate>Privacy</a></li>
        <li ui-sref-active="active" ui-sref="agb"><a href="" translate>AGB</a></li>
        <li ui-sref-active="active" ui-sref="imprint"><a href="" translate>Imprint</a></li>
    </ul>
</div>
