.ts-bubble {
    position: absolute;
    display: block;
    background-color: rgba(233, 117, 102, 0.7);
    color: #fff;
    border-radius: 3px;
    padding: 8px 12px;
}

.ts-bubble .ts-quote {
    font-size: 1.2em;
}

.ts-bubble .ts-subline {
	text-align: right;
	margin-top: 5px;
}

.ts-bubble b {
	font-weight: 400!important;
}

.ts-bubble::after {
    position: absolute;
    bottom: -20px;
    content: '';
    left: 65%;
    width: 0;
    height: 0;
    border-width: 20px 0px 0 30px;
    border-style: solid;
    border-color: rgba(233, 117, 102, 0.7) transparent;
}
