$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import './_variables.scss';

/**
 * App-wide Styles
 */

body {
    font-family: 'canada-type-gibson', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

em {
    font-family: 'Amatic SC', cursive;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.app {
    background-color: #fff;
}

label {
    width: 100%;
}

.progress {
    height: 35px;
    border-radius: 0;
}


/* ALERTS */

.alert {
    border-radius: 0;
    margin-bottom: 0px;
}

.alert-danger {}

body.has-modal-fixed .app-body {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

@media (min-width: $screen-sm) {
    .has-navbar-bottom .app-body {
        padding-bottom: 0px;
    }
    .ts-ui-view {
        min-height: 100vh;
    }
}

.hideFooter .app-body {
    padding-bottom: 0px!important;
}

@media (max-width: $screen-xs) {
    .has-navbar-bottom .app-body {
        padding-bottom: 51px;
    }
}

.navbar-app .btn-navbar,
.navbar-app .btn {
    background: #007aff;
    border: none;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-transform: lowercase;
    height: 51px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

a:hover,
a:focus {
    color: black;
    text-decoration: underline;
}

// Form styles 
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    text-transform: lowercase;
}

button,
.btn {
    text-transform: lowercase;
    border-radius: 0;
    height: 50px;
    line-height: 1.7em;
}

input,
.form-control {
    height: 50px;
    font-size: 1.2em;
    border-radius: 0;
    margin-bottom: 10px;
}

.form-group {
    padding: 5px 0;
}

.has-sidebar-left .app,
.sidebar-left-in .app {
    margin-left: 0;
}

// Variables
$brand-primary: blue;
$brand-info: yellow;
$brand-success: green;
$brand-warning: orange;
$brand-danger: red;
// Component styles are injected through grunt
// injector
@import '_variables.scss';
@import 'about/about.scss';
@import 'account/login/login.scss';
@import 'account/resetPassword/resetPassword.scss';
@import 'account/settings/settings.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'agb/agb.scss';
@import 'dashboard/dashboard.scss';
@import 'faq/faq.scss';
@import 'imprint/imprint.scss';
@import 'main/main.scss';
@import 'onboarding/onboarding.scss';
@import 'presse/presse.scss';
@import 'privacy/privacy.scss';
@import 'universityList/universityList.scss';
@import 'verify/verify.scss';
@import '../components/footer/footer.scss';
@import '../components/modals/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
@import '../components/sidebar/sidebar.scss';
@import '../components/tsCampusMail/tsCampusMail.scss';
@import '../components/tsLoading/tsLoading.scss';
@import '../components/tsName/tsName.scss';
@import '../components/tsPhone/tsPhone.scss';
@import '../components/tsSignup/tsSignup.scss';
@import '../components/tsSuccess/tsSuccess.scss';
@import '../components/tsVerify/tsVerify.scss';
@import '../components/tsWeekdays/tsWeekdays.scss';
// endinjector
