    <button class="btn btn-primary col-xs-4" ng-model="weekdays.monday" uib-btn-checkbox>Monday</button>
    <button class="btn btn-primary col-xs-4" ng-model="weekdays.tuesday" uib-btn-checkbox>Tuesday</button>
    <button class="btn btn-primary col-xs-4" ng-model="weekdays.wednesday" uib-btn-checkbox>Wednesday</button>
    <button class="btn btn-primary col-xs-4" ng-model="weekdays.thursday" uib-btn-checkbox>Thursday</button>
    <button class="btn btn-primary col-xs-4" ng-model="weekdays.friday" uib-btn-checkbox>Friday</button>
    <button class="btn btn-primary col-xs-4" ng-model="weekdays.saturday" uib-btn-checkbox>Saturday</button>
    <button class="btn btn-primary col-xs-12" ng-model="weekdays.sunday" uib-btn-checkbox>Sunday</button>
