<div class="navbar navbar-app navbar-absolute-top">
    <!-- Toggle Buttton START -->
    <div class="btn-group pull-left visible-xs" ui-yield-to="navbarAction" style="position:absolute;">
        <button class="navbar-toggle" type="button" ui-toggle="uiSidebarLeft">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <!-- Toggle Buttton END -->
    <!-- Logo START -->
    <a href="/" class="navbar-brand hidden-xs" style="position:absolute;width: 145px;z-index:200;">
        tablesurfer
    </a>
    <!-- Logo END -->
    <!-- Title START -->
    <a class="navbar-brand navbar-brand-center visible-xs" ui-yield-to="title" style="position:absolute;z-index:0;"></a>
    <!-- Title END -->
    <!-- Navigation START -->
    <ul class="navbar-left hidden-xs pull-left">
        <!-- Logged Out START -->
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="main" translate>Home</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="universities" translate>Universities</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="about" translate>about us</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup" translate>Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login" translate>Login</a></li>
        <!-- Languages START -->
        <!--<li ng-hide="nav.isLoggedIn()||nav.currentLanguage=='de'" ng-click="nav.changeLanguage('de')">
            <img class="ts-btn-language" src="assets/images/flags/de.png" />
        </li>
        <li ng-hide="nav.isLoggedIn()||nav.currentLanguage=='en'" ng-click="nav.changeLanguage('en')">
            <img class="ts-btn-language" src="assets/images/flags/gb.png" />
        </li>
        <li ng-hide="nav.isLoggedIn()||nav.currentLanguage=='se'" ng-click="nav.changeLanguage('se')">
            <img class="ts-btn-language" src="assets/images/flags/se.png" />
        </li>
        <li ng-hide="nav.isLoggedIn()||nav.currentLanguage=='cn'" ng-click="nav.changeLanguage('cn')">
            <img class="ts-btn-language" src="assets/images/flags/cn.png" />
        </li>-->
        <!-- Languages END -->
        <!-- Logged Out END -->
        <!-- Logged In START -->
        <li ng-show="nav.isLoggedIn()" class="ts-user-name">
            <a ui-sref="dashboard">{{ nav.getCurrentUser().first_name }} {{ nav.getCurrentUser().last_name }}</a>
        </li>
        <li ng-show="nav.isLoggedIn()&&nav.getCurrentUser().registrationComplete"><a ui-sref="settings"><i class="fa fa-cog fa-fw"></i></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout" translate>Logout</a></li>
        <!-- Logged In END -->
    </ul>
    <!-- Navigation END -->
</div>
