.navbar-absolute-top {
    background-color: #fff;
    border-color: #fff;
}

.navbar-app .btn-navbar:hover,
.navbar-app .btn:hover {
    color: #000;
}

body > div.app > navbar > div > div > button > i {
    font-size: 2.4em;
    color: #000;
    margin-right: 5px;
}

.navbar-toggle {
    margin: 0;
}

.navbar-right {
    float: right!important;
    margin-right: 10px;
    list-style: none;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1.4em;
}

.navbar-brand {
    font-style: normal;
    font-weight: 600;
    font-size: 1.7em;
    padding-top: 15px;
}

.navbar-right>li {
    float: left;
}

.navbar-right .navbar-text {
    line-height: 20px;
    position: relative;
    display: block;
    padding-top: 0px;
    margin-left: 15px;
    margin-right: 0;
    font-size: 1.0em;
    color: #000;
    margin-bottom: 0;
}

.navbar-right>li>a {
    line-height: 20px;
    position: relative;
    display: block;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-right>li.active>a {
    border-bottom: 2px solid #000;
}

.navbar-right .ts-btn-language {
    height: 20px;
    width: 30px;
    margin-top: 16px;
    margin-right: 5px;
    cursor: pointer;
}
