<div class="navbar navbar-app navbar-absolute-top">
    <a href="/" class="navbar-brand">
        tablesurfer
    </a>
    <div class="btn-group pull-right visible-xs" ui-yield-to="navbarAction">
        <button class="navbar-toggle" type="button" ui-toggle="uiSidebarRight">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <ul class="navbar-right hidden-xs pull-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="main">Home</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-click="nav.changeLanguage('de')">
            <img class="ts-btn-language" src="assets/images/flags/de.png" />
        </li>
        <li ng-click="nav.changeLanguage('gb')">
            <img class="ts-btn-language" src="assets/images/flags/gb.png" />
        </li>
        <li ng-click="nav.changeLanguage('se')">
            <img class="ts-btn-language" src="assets/images/flags/se.png" />
        </li>
        <li ng-click="nav.changeLanguage('cn')">
            <img class="ts-btn-language" src="assets/images/flags/cn.png" />
        </li>
        <li ng-show="nav.isLoggedIn()">
            <p class="navbar-text">Hello <b>{{ nav.getCurrentUser().name }}</b></p>
        </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
    </ul>
    <ul class="navbar-right pull-right">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
    </ul>
</div>
