.has-modal-fixed navbar {
    display: none!important;
}

.navbar-absolute-top {
    background-color: #fff;
    border-color: #fff;
}

.navbar-absolute-top .ts-user-name a {
    margin-right: 0px;
    font-weight: 200;
    text-transform: lowercase;
}

.navbar-absolute-top a {
    text-decoration: none;
    -webkit-tap-highlight-color: black;
    color: black;
}

.navbar-absolute-top a:hover,
.navbar-absolute-top a:focus {
    color: black;
    text-decoration: none;
}

.navbar-absolute-top .btn-navbar:hover,
.navbar-absolute-top .btn:hover {
    color: #000;
}

.navbar-brand-center {
    position: absolute;
    width: 100%;
    text-align: center;
}

.navbar-absolute-top > li {
    font-weight: 600;
}

body > div.app > navbar > div > div > button > i {
    font-size: 2.0em;
    color: #000;
    margin-left: 0px;
    margin-top: 2px;
}

.navbar-toggle {
    margin: 0;
}

.navbar-left {
    float: right!important;
    margin-right: 10px;
    list-style: none;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1.4em;
}

.navbar-absolute-top .btn-group {
    z-index: 200;
}

.navbar-brand-center {
    z-index: 1;
}

.navbar-brand {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6em;
    padding-top: 15px;
}

.navbar-left>li {
    float: left;
}

.navbar-absolute-bottom .btn {
    margin-top: 0;
}

.navbar-left .navbar-text {
    line-height: 20px;
    position: relative;
    display: block;
    padding-top: 0px;
    margin-left: 15px;
    margin-right: 0;
    font-size: 1.0em;
    color: #000;
    margin-bottom: 0;
}

.navbar-left>li>a {
    line-height: 20px;
    position: relative;
    display: block;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    text-transform: lowercase;
}

.navbar-left>li.active>a {
    border-bottom: 2px solid #000;
}

.navbar-left .ts-btn-language {
    height: 20px;
    width: 30px;
    margin-top: 16px;
    margin-right: 5px;
    cursor: pointer;
}

.navbar-app .btn-navbar:hover,
.navbar-app .btn:hover {
    color: #fff;
}
