<div class="ts-complete-profile-form-container container">
    <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <uib-progressbar animate="true" value="currentProgress" type="success" class="progress-striped active"></uib-progressbar>
        <!-- FACEBOOK -->
        <div ng-if="getCurrentUser().provider=='facebook'">
            <p>facebook login</p>
        </div>
        <!-- LOCAL -->
        <div ng-if="getCurrentUser().provider=='local'">
            <!-- STEP 1 -->

            status : {{status}}
            <ts-campus-mail ng-show="status=='EMAIL'"></ts-campus-mail>
            <ts-name ng-show="status=='PERSONAL_INFO'"></ts-name>
        </div>
        <button class="btn btn-default" ng-click="back()">Zurück</button>
        <button class="btn btn-default" ng-click="next()">Weiter</button>
    </div>
</div>
