/**
 * General 
 */

#ts-main h1,
#ts-main h2,
#ts-main h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

#ts-main h1 {
    font-size: 4.0em;
}

#ts-main h2 {
    font-size: 3.0em;
}

#ts-main h3 {
    font-size: 2.0em;
}


/**
 * Jumbotron
 */

#ts-main .ts-jumbotron-container {
    background: url(/assets/images/ts-home-background.jpg) no-repeat top center fixed;
    background-size: cover;
    height: calc(100vh - 50px);
    position: relative;
    opacity: 0.85;
}

#ts-main .ts-jumbotron-container h1 {
    position: absolute;
    bottom: 0;
    font-size: 4.0em;
    color: #fff;
    text-align: center;
    width: 100%;
    top: 50%;
    margin-top: -100px;
}

#ts-main .ts-jumbotron-container ts-signup {
    bottom: 20px;
    position: absolute;
}

@media (min-width: $screen-sm) {
    #ts-main .ts-jumbotron-container h1 {
        font-size: 5.0em;
        margin-top: -80px;
    }
}

@media (min-width: $screen-sm) {
    #ts-main .ts-jumbotron-container h1 {
        top: 55%;
    }
}

@media (min-width: $screen-lg) {
    #ts-main .ts-jumbotron-container h1 {
        top: 65%;
    }
}


/**
 * Photo Gallery 
 */

#ts-main .ts-photo-gallery-container {
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

#ts-main .ts-photo-gallery-container section {
    margin-top: 100px;
}

#ts-main .ts-photo-gallery-container .ts-image-container {
    padding: 10px 10px 5px 5px;
}

@media (max-width: $screen-md) {
    #ts-main .ts-photo-gallery-container .img-responsive {
        width: 100%;
    }
}


/**
 * How To
 */

#ts-main .ts-how-to-container {
    min-height: 630px;
}

#ts-main .ts-how-to-container .img-circle {
    padding: 30px;
}

#ts-main .ts-how-to-container .row {
    padding-top: 60px;
}

#ts-main .ts-how-to-container p {
    text-align: center;
}


/**
 * Supporters
 */

#ts-main .ts-supporters-container {
    margin: 0px;
}

#ts-main .ts-supporters-container h3 {
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #000;
}

#ts-main .ts-supporters-container .ts-logos-container {
    margin-top: 20px;
}

#ts-main .ts-supporters-container .img-responsive {
    margin: 15px 0px;
}

@media (min-width: $screen-sm) {
    #ts-main .ts-supporters-container .img-responsive {
        max-width: 220px;
    }
}


/** 
 * Press
 */

#ts-main .ts-press-container {
    background-color: $ts-light-blue;
}

#ts-main .ts-press-container h3 {
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #000;
}

#ts-main .ts-press-container .ts-logos-container {
    height: 150px;
    padding-top: 20px;
}

#ts-main .ts-press-container .ts-logo-m945 {
    width: 110px;
    position: relative;
    left: 50%;
    margin-left: -55px;
}

@media (min-width: $screen-sm) {
    #ts-main .ts-press-container .img-responsive {
        max-width: 220px;
    }
    #ts-main .ts-press-container .ts-logo-goethe {
        width: 190px;
        margin-top: 5px;
    }
    #ts-main .ts-press-container .ts-logo-sz {
        margin-top: 25px;
    }
}


/**
 * Features 
 */

#ts-main .ts-features-container section {
    height: 630px;
}
