<div id="ts-dashboard">
    <div class="ts-dashboard-container container">
        <div class="row">
            <div class="ts-welcome-container container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <!-- NO PROFILE PICTURE YET -->
                        <div ng-hide="getCurrentUser().picture">
                            <div class="ts-profile-picture-placeholder" ng-click="uploadPicture()">
                                <span translate>Upload Profile Picture</span>
                            </div>
                        </div>
                        <!-- PROFILE PICTURE AVAILABLE -->
                        <div ng-show="getCurrentUser().picture">
                            <img ng-src="{{getCurrentUser().picture}}" class="img-responsive" />
                        </div>
                        <!-- Verification Info -->
                        <div class="ts-verification-info">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="media" ng-show="getCurrentUser().verified">
                                        <i class="fa fa-check pull-left"></i>
                                        <div class="media-body">
                                            <div translate>University E-Mail</div>
                                            <div class="text-muted" translate>
                                                Verified
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media" ng-hide="getCurrentUser().verified">
                                        <i class="fa fa-exclamation pull-left"></i>
                                        <div class="media-body">
                                            <div translate>University E-Mail</div>
                                            <div class="text-muted" translate>
                                                Not Verified
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media" ng-show="getCurrentUser().verified">
                                        <i class="fa fa-check pull-left"></i>
                                        <div class="media-body">
                                            <div translate>Phone</div>
                                            <div class="text-muted" translate>
                                                Verified
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media" ng-hide="getCurrentUser().verified">
                                        <i class="fa fa-exclamation pull-left"></i>
                                        <div class="media-body">
                                            <div translate>Phone</div>
                                            <div class="text-muted" translate>
                                                Not Verified
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- About Me -->
                        <div class="ts-about-me panel panel-default">
                            <div class="panel-heading" translate>About Me</div>
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="media" ng-show="getCurrentUser().university">
                                            <i class="fa fa-university pull-left"></i>
                                            <div class="media-body">
                                                <div class="ts-title" translate>School</div>
                                                <div class="text-muted" translate>
                                                    {{getCurrentUser().university.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media" ng-show="getCurrentUser().currentCity">
                                            <i class="fa fa-home pull-left"></i>
                                            <div class="media-body">
                                                <div class="ts-title" translate>Current City</div>
                                                <div class="text-muted" translate>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media" ng-show="getCurrentUser().gender">
                                            <i class="fa fa-male pull-left"></i>
                                            <div class="media-body">
                                                <div class="ts-title" translate>Gender</div>
                                                <div class="text-muted">
                                                    {{getCurrentUser().gender}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Short Links -->
                        <div class="ts-about-me panel panel-default">
                            <div class="panel-heading" translate>Quick Links</div>
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li><a href="" ng-click="uploadPicture()" translate>Change profile picture</a></li>
                                    <li><a href="" ui-sref="settings" translate>Settings</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8">
                        <!--<div class="alert alert-success alert-dismissible" role="alert">
                            <strong>Warning!</strong> BeHtter check yourself, you're not looking too good.
                        </div>-->
                        <!-- Notifications Panel -->
                        <div class="ts-panel-weekdays panel panel-default">
                            <div class="panel-heading" translate>Notifications</div>
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="media">
                                            <i class="fa fa-close pull-right"></i>
                                            <div class="media-body">
                                                <div class="ts-title" translate>
                                                    The 14-day review period has ended. Your review from Dante E Rossella Balestra is now public.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Weekdays Panel -->
                        <div class="ts-panel-weekdays panel panel-default">
                            <div class="panel-heading" translate>Your preferred weekdays</div>
                            <div class="panel-body">
                                <ts-weekdays></ts-weekdays>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals-fixed">
    <div id="ts-profile-picture-modal" class="ts-fixed-modal" ui-if="uploadPictureModal" ui-state='uploadPictureModal'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" ui-turn-off="uploadPictureModal">&times;</button>
                    <h4 class="modal-title" translate>Profile Picture</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-top:25px;">
                        <ts-photo></ts-photo>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
