/**
 * General
 */

#ts-dashboard {
    margin-top: 15px;
}

#ts-dashboard h1,
#ts-dashboard h2,
#ts-dashboard h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

#ts-dashboard h1 {
    font-size: 4.0em;
}

#ts-dashboard h2 {
    font-size: 3.0em;
}

#ts-dashboard h3 {
    font-size: 2.0em;
}

#ts-dashboard .ts-profile-picture-placeholder {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    padding-bottom: 100%;
    text-align: center;
    padding-top: 25px;
    position: relative;
    cursor: pointer;
}

#ts-dashboard .ts-profile-picture-placeholder span {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -10px;
    font-size: 1.2em;
    font-weight: 600;
    width: 100%;
    padding: 0 35px;
    left: 0;
    cursor: pointer;
}


/** 
 * Verification Info
 */

.ts-verification-info {
    margin: 25px 0;
}

.ts-verification-info > ul > li {
    margin: 10px 0;
}

.ts-verification-info .fa-check,
.ts-verification-info .fa-exclamation {
    padding-right: 10px;
    left: 5px;
    font-size: 2.0em;
    top: 5px;
    position: relative;
}

.ts-verification-info .fa-check {
    color: $ts_green;
}

.ts-verification-info .fa-exclamation {
    color: $ts_red;
}


/**
 * About Me 
 */

.ts-about-me .ts-title {
    font-weight: 400;
}

.ts-about-me li {
    margin: 20px 0!important;
}

.ts-about-me .fa {
    padding-right: 10px;
    left: 5px;
    font-size: 2.0em;
    top: 5px;
    position: relative;
    width: 40px;
    color: black;
    text-align: right;
}

.ts-about-me .panel-body {
    padding: 0px 15px 0px 15px;
}


/**
 * Notifcations Panel
 */

#ts-dashboard .ts-panel-notifcations .panel-body {
    padding: 0px 15px 0px 15px;
}


/**
 * Profile Picture Modal
 */

#ts-profile-picture-modal .modal-content {
    min-height: 570px;
    background-color: #fff;
    color: black;
}

#ts-profile-picture-modal .modal-header h4 {
    font-size: 2.3em!important;
}

@media (max-width: $screen-xs) {
    #ts-profile-picture-modal .modal-header h4 {
        font-size: 1.3em !important;
        position: relative;
        top: 15px;
    }
    #ts-profile-picture-modal .modal-header {
        height: 65px;
    }
}
