/**
 * General
 */

#ts-dashboard {
    margin-top: 15px;
}

#ts-dashboard h1,
#ts-dashboard h2,
#ts-dashboard h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

#ts-dashboard h1 {
    font-size: 4.0em;
}

#ts-dashboard h2 {
    font-size: 3.0em;
}

#ts-dashboard h3 {
    font-size: 2.0em;
}