#ts-about {
    margin-bottom: 80px;
}

#ts-about h1 {
    font-size: 3.0em;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

#ts-about .img-responsive {
    -webkit-filter: grayscale(0.4);
    padding: 0px 5% 0px 5%;
}

#ts-about h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin: 25px 0px;
    font-size: 3.0em;
}

#ts-about p.lead {
    text-align: justify;
    font-size: 1.5em;
    margin-bottom: 40px;
}

#ts-about .ts-degree {
    font-size: 1.2em;
    text-align: center;
}

#ts-about .ts-team-member {
    margin-bottom: 25px;
}

@media (max-width: $screen-xs) {
    #ts-about .img-responsive {
        padding: 0px 15% 0px 15%;
    }
}

@media (max-width: $screen-sm) {
    #ts-about p.lead {
        margin-top: 20px;
    }
    #ts-about {
        margin-bottom: 0px;
    }
    #ts-about .img-responsive {
        padding: 0px 30% 0px 30%;
    }
}

@media (max-width: $screen-md) {
    #ts-about .img-responsive {
        padding: 0px 15% 0px 15%;
    }
}
