#ts-about {
    margin-bottom: 80px;
}

#ts-about h1 {
    font-size: 3.0em;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

#ts-about .img-responsive {
    -webkit-filter: grayscale(0.4);
}

#ts-about h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin: 25px 0px;
    font-size: 3.0em;
}

#ts-about p.lead {
    text-align: justify;
    font-size: 1.5em;
    margin-bottom: 40px;
}

#ts-about .ts-degree {
    font-size: 1.2em;
    text-align: center;
}