/*#ts-university-list {
    margin-top: 15px;
}

#ts-university-list h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 3.0em;
    margin-bottom: 15px;
}

#ts-university-list .panel {
    border-radius: 0;
    margin-top: 15px;
}

#ts-university-list .ts-domain {
    color: $ts-orange;
    font-weight: 400;
}

#ts-university-list .media-heading {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 200;
}

#ts-university-list h4 {
    text-transform: lowercase;
    font-weight: 600;
}

*/
#ts-university-list{
    margin-bottom: 25px;
}

#ts-university-list h1 {
    font-family: 'Amatic SC', cursive;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 4.5em;
    font-weight: 600;
}

#ts-university-list h3 .fa-map-marker {
    margin-right: 10px;
}

#ts-university-list ul li {
    height: 50px;
}