<div id="ts-university-list" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <h1>Universities</h1>
            <div class="hidden-xs">
                <img style="margin-top:15px" class="img-responsive col-xs-4" src="/assets/images/tum.png" />
                <img class="img-responsive col-xs-4" src="/assets/images/lmu.png" />
                <img class="img-responsive col-xs-4" src="/assets/images/fhmuc.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <uib-accordion close-others="oneAtATime" class="col-xs-12 col-sm-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <uib-accordion-group heading="{{country.name}} ({{country.universities.length}})" is-open="false" ng-repeat="country in countries">
                <div class="media" ng-repeat="university in country.universities">
                    <div class="media-body">
                        <h4 class="media-heading"> <a href="{{university.web_page}}" target="_blank">{{university.name}}</a></h4>
                        <div class="ts-domain">
                            *.{{university.domain}}
                        </div>
                        <hr/>
                    </div>
            </uib-accordion-group>
        </uib-accordion>
        </div>
    </div>