.ts-welcome-container {
    width: 1045px;
}

.ts-welcome-container h2 {
    margin-bottom: 20px;
    text-align: left!important;
}

@media (min-width: $screen-xs) {
    .ts-welcome-container {
        width: 745px;
    }
}

@media (min-width: $screen-sm) {
    .ts-welcome-container {
        width: 1045px;
    }
    .ts-welcome-container .ts-profile-picture {
        position: relative;
        left: 50%;
        margin-left: -160px;
    }
}
