#ts-reset-password .alert {
    margin-bottom: 20px;
}

@media (min-width: $screen-sm) {
    #ts-reset-password {
        height: 100vh;
        min-height: 500px;
        position: relative;
    }
    #ts-reset-password .ts-reset-form-container {
        position: absolute;
        top: 50%;
        margin-top: -125px;
    }
}

@media (max-width: $screen-xs) {
    #ts-reset-password .ts-reset-form-container {
        margin-top: 40px;
    }
}
