.sidebar-left {
    background-color: #fff;
}

.sidebar-left .list-group {
    margin: 20px 5px 20px 10px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar-left .fa-chevron-right {
    font-size: 1.4em;
}

.sidebar-left .list-group {
    font-size: 1.2em;
}

.sidebar-left .active > a {
    border-bottom: 4px solid #000;
}

.sidebar-left .list-group {
    margin: 20px 5px 20px 10px;
    font-weight: 600;
    text-transform: lowercase;
    cursor: pointer;
}
