@media (min-width: $screen-sm) {
    #ts-signup {
        height: 100vh;
        min-height: 500px;
        position: relative;
    }
    #ts-signup .ts-signup-form-container {
        position: absolute;
        top: 50%;
        margin-top: -290px;
    }
}

#ts-signup {
    margin-top: 15px;
    margin-bottom: 35px;
}

#ts-signup .ts-btn-signup {
    margin-top: 10px;
    margin-bottom: 10px
}

#ts-signup h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 3.0em;
    margin-bottom: 15px;
}

#ts-signup .ts-terms-of-use {
    margin-top: 5px;
    margin-bottom: 5px;
}

#ts-signup p {
    font-size: 1.2em;
    text-align: justify;
}
