<div id="ts-signup" class="container">
    <div class="row">
        <div class="ts-signup-form-container col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <h1 translate>Register as a Tablesurfer</h1>
            <p class="hidden-xs" translate>
                Heim und Herd: Wir sind eine Koch-Community für Studierende von Studierenden. Knüpfe neue Freundschaften - abseits der Uni.
            </p>
            <div class="row">
                <div class="col-xs-12">
                    <oauth-buttons classes="btn-block"></oauth-buttons>
                </div>
            </div>
            <div class="ts-signup-or-separator">
                <hr/>
                <span translate>oder</span>
            </div>
            <form class="form" name="form" ng-submit="vm.register(form)" novalidate>
                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
                    <label translate>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="vm.user.email" required mongoose-error/>
                    <p class="help-block" ng-show="form.email.$error.email && vm.submitted" translate>
                        Doesn't look like a valid email.
                    </p>
                    <p class="help-block" ng-show="form.email.$error.required && vm.submitted" translate>
                        What's your email address?
                    </p>
                    <p class="help-block" ng-show="form.email.$error.mongoose">
                        {{ vm.errors.email }}
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
                    <label translate>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="vm.user.password" ng-minlength="3" required mongoose-error/>
                    <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted" translate>
                        Password must be at least 3 characters.
                    </p>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ vm.errors.password }}
                    </p>
                </div>
                <p class="ts-terms-of-use">
                    <span translate>Indem du dich bei tablesurfer registrierst, erklärst du dich mit den</span> <a ui-sref="agb" target="_blank" translate>Nutzungsbedingungen</a> <span translate>und der</span> <a ui-sref="privacy" target="_blank" translate>Datenschutzerklärung</a> <span>einverstanden</span>.
                </p>
                <div class="hidden-xs">
                    <button class="btn btn-inverse btn-lg btn-register btn-block ts-btn-signup btn-primary" type="submit" translate>
                        Sign up
                    </button>
                    <a class="btn btn-default btn-lg btn-login btn-block ts-btn-login" ui-sref="login" translate>
                        Login
                      </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div ui-content-for="footer">
    <button ng-click="vm.register()" class="btn btn-lg btn-primary btn-register btn-block" translate>register</button>
</div>
