@media (min-width: $screen-sm) {
    #ts-signup {
        min-height: 100vh;
        position: relative;
    }
    #ts-signup .ts-signup-form-container {
        margin-top: 15px;
    }
    #ts-signup .form-group {
        padding: 0;
    }
}

@media (max-width: $screen-xs) {
    #ts-signup {
        margin-top: 15px;
    }
}

#ts-signup .ts-terms-of-use {
    margin-top: 5px;
    margin-bottom: 5px;
}

#ts-signup a {
    font-weight: 400;
}

#ts-signup .ts-btn-signup {
    margin-top: 10px;
    margin-bottom: 10px
}

#ts-signup {
    margin-bottom: 35px;
}

#ts-signup h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 3.0em;
}
