#ts-privacy {
    margin-bottom: 80px;
}

#ts-privacy h1 {
    font-size: 3.0em;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

#ts-privacy h3 {
    font-weight: 400;
}

@media (max-width: $screen-sm) {
    #ts-privacy {
        padding-top: 20px;
    }
    #ts-privacy {
        margin-bottom: 20px;
    }
}
