#ts-modal .modal-content {
    border-radius: 0;
    margin-top: 140px;
    padding: 0;
    border: none;
}

#ts-modal .modal-header {
    text-align: center;
    border: none;
    background-color: #edefed;
    padding: 5px 0px 10px 0px;
}

#ts-modal .modal-footer {
    border: none;
}

#ts-modal .modal-header h4 {
    font-size: 3.0em;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

#ts-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 4em;
    color: #000;
}

#ts-modal a {
    text-decoration: underline;
}

#ts-modal p,
#ts-modal .alert {
    text-align: justify;
    margin-bottom: 5px;
}

#ts-modal p {
    font-size: 1.2em;
}

#ts-modal .alert {
    font-size: 1.0em;
}

#ts-modal .alert {
    min-height: 55px;
}

@media (max-width: $screen-xs) {
    #ts-modal .modal-content {
        margin-top: 0;
    }
    #ts-modal .modal-dialog {
        margin: 15px;
    }
}


/** #ts-modal-fixed **/

#ts-modal-fixed .modal {
    position: relative;
}

#ts-modal-fixed .modal-content {
    box-shadow: none;
}

#ts-modal-fixed .modal-dialog {
    margin: 0;
}

#ts-modal-fixed .modal-header {
    border: none;
    text-align: left;
    padding: 0;
}

#ts-modal-fixed .modal-header h4 {
    font-size: 3.0em;
    font-weight: 600;
    padding: 5px 0px 10px 25px;
}

#ts-modal-fixed .modal-body {
    padding: 0px 15px 15px 15px;
}

#ts-modal-fixed .modal-content h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    margin-top: 20px;
    min-height: 114px;
    margin-bottom: 20px;
}

#ts-modal-fixed .ts-step {
    padding: 15px 25px 10px 25px;
}

#ts-modal-fixed p {
    font-size: 1.2em;
    text-align: justify;
}

#ts-modal-fixed .modal-footer {
    border: none;
}

#ts-modal-fixed .close {
    color: #000;
    opacity: 1.0;
    font-size: 4.5em;
    position: absolute;
    top: 5px;
    right: 25px;
}

#ts-modal-fixed .modal-content {
    border-radius: 0;
    border: none;
}

@media (max-width: $screen-xs) {
    #ts-modal-fixed .modal-header h4 {
        font-size: 2.5em;
        padding: 10px 0px 10px 10px;
    }
}
