#ts-press {
    margin-bottom: 80px;
}

#ts-press h1 {
    font-size: 3.0em;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

#ts-press p.lead {
    text-align: justify;
    font-size: 1.5em;
}

#ts-press .ts-email {
    font-size: 1.5em;
}

@media (max-width: $screen-sm) {
    #ts-press p.lead {
        margin-top: 20px;
    }
}

@media (max-width: $screen-sm) {
    #ts-press p.lead {
        margin-top: 20px;
    }
    #ts-press {
        margin-bottom: 0px;
    }
}