#ts-press {
    margin-bottom: 80px;
}

#ts-press h1 {
    font-size: 3.0em;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

#ts-press p.lead {
    text-align: justify;
    font-size: 1.5em;
}

#ts-press .ts-email {
    font-size: 1.5em;
}
