ts-phone {
	display: block;
}

ts-phone button {
	width: 100%;
	height: 41px;
}

ts-phone .ts-phonecode button,
ts-phone .ts-phonecode input {
	width: 100%;
	height: 41px;
}

ts-phone a {
	cursor: pointer;
}

ts-phone .intl-tel-input,
ts-phone .intl-tel-input input {
	width: 100%;
}